@font-face {
  font-family: "Rick";
  font-style: normal;
  font-weight: normal;
  src: local("Rick"), url(./Rick.ttf) format("truetype");
}

@font-face {
  font-family: "Cashew";
  font-style: normal;
  font-weight: normal;
  src: local("Cashew"), url(./CashewCream.ttf) format("truetype");
}

@font-face {
  font-family: "Stanberry";
  font-style: normal;
  font-weight: normal;
  src: local("Stanberry"), url(./Stanberry.ttf) format("truetype");
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  background-image: url(./img/background.jpg);
  background-size: contain;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.card {
  width: 290px;
  text-align: center;
  font-size: 1.8em;
  padding-bottom: 10px;
  background: linear-gradient(
    24deg,
    rgb(205 205 205) 0%,
    rgb(255 255 255) 100%
  );
  font-family: "Stanberry";
  border-radius: 10px;
  transition: 0.15s;
}

.card:hover {
  box-shadow: 0px 0px 8px 2px yellow;
  transform: scale(1.03);
}

.cardboard {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  justify-content: center;
}

.imgCard {
  pointer-events: none;
  width: 270px;
  padding: 10px;
  border-radius: 23px;
}

.title {
  color: #84fffa;
  font-family: "Rick";
  text-align: center;
  box-shadow: 0px 0px 0px 0px #e9ff35;
  filter: drop-shadow(1px 1px 2px #e9ff35);
  font-size: 4em;
  margin: 25px;
}
.subtitle {
  color: #84fffa;
  font-family: "Cashew";
  text-align: center;
  box-shadow: 0px 0px 0px 0px #e9ff35;
  filter: drop-shadow(1px 1px 2px #e9ff35);
  font-size: 3em;
  margin: 15px;
}

.score {
  color: #a8f2ff;
  font-family: "Stanberry";
}

.best-score {
  color: #a8f2ff;
  font-family: "Stanberry";
}

.scorebox {
  display: flex;
  justify-content: space-around;
  font-size: 2.5em;
}

.author {
  color: white;
  position: absolute;
  top: 2%;
  left: 2%;
}

.author a {
  text-decoration: none;
}

.author a:visited {
  color: #84fffa;
}

@media screen and (max-width: 930px) {
  .card {
    width: 180px;
    font-size: 1.4em;
  }
  .imgCard {
    border-radius: 20px;
    width: 140px;
  }
  .author {
    display: none;
  }
}

@media screen and (max-width: 390px) {
  .subtitle {
    font-size: 2.4em;
  }
  .scorebox {
    font-size: 2em;
  }
  .title {
    font-size: 3.3em;
  }
  .card {
    width: 110px;
    font-size: 0.9em;
  }
  .imgCard {
    border-radius: 15px;
    width: 90px;
  }
  .author {
    display: none;
  }
}
